* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Parte de cima da pagina com o cabeçalho e sla mais oq */
header {
    background-color: #3d71e2;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}